body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.app {
    background-color: aqua;
    width: 50px;
    transition: transform 0.5s ease;
    margin: 5px;
    border-radius: 20px;
    
}
.app:hover{
    transition: 0.7s;
    transform: rotate(360deg);
    width: 55px;
    
}

.buton{
    border: 2px solid plum;
    border-radius: 20px;
    max-width: 150px;
    max-height: 150px;
    text-align: center;
    margin: 10px;
}